html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

a, a:visited, a:hover, a:active{
  color: #27536B;
}

.wrapper{
  height: 85vh;
}

.header{
  background-color: #27536B;
  padding: .3em;
  color: #f3f3f3;
  text-transform: uppercase;
  letter-spacing: .15em;
}

.leaflet-container {
  margin: 0 auto;
  height: 400px;
  width: 90%;
}

.footerWrapper {
  height: auto;
  margin: 5vh auto;
  width: 70%;
  color: rgba(0, 0, 0, .8);
  font-size: 13px;
}