html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Helvetica, sans-serif;
  background-color: #E5E5E5;
}

a, a:visited, a:hover, a:active{
  color: #27536B;
}

.wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 85vh;
}

.header{
  background-color: #27536B;
  padding: .3em;
  color: #f3f3f3;
  text-transform: uppercase;
  letter-spacing: .15em;
}

.latLonWrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  line-height: 1.8em;
}

.leaflet-container {
  z-index: 1;
  margin: 0 auto;
  height: 80%;
  width: 90%;
}

.footerWrapper {
  position: relative;
  height: auto;
  margin: 5vh auto;
  width: 70%;
  color: rgba(0, 0, 0, .8);
  font-size: 13px;
}